.venv/
.pytest_cache/
.ipynb_checkpoints/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.egg-info/
build/
dist/
TCC_experimentos_executado.ipynb

runs/*
!runs/.gitkeep
results/raw/*
!results/raw/.gitkeep
results/processed/*
!results/processed/.gitkeep
results/tables/*
!results/tables/.gitkeep
results/figures/*
!results/figures/.gitkeep
