.venv/
.pytest_cache/
.ipynb_checkpoints/
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.egg-info/
build/
dist/
TCC_experimentos_executado.ipynb
dataset/
results/*/
!results/raw/
!results/processed/
!results/tables/
!results/figures/

runs/*
!runs/.gitkeep
results/raw/*
!results/raw/.gitkeep
results/processed/*
!results/processed/.gitkeep
results/tables/*
!results/tables/.gitkeep
results/figures/*
!results/figures/.gitkeep
